
<div class="modal fade completeForm" role="dialog">
  <div class="modal-dialog" style="width: 92%;">
    <div class="modal-content formBackground">
          <br><br>
              <a class="btn btn-primary  pull-right" data-dismiss="modal" style="padding-right:30px; margin-right:10%; height:20%; width:15%; font-size: 200%">CERRAR</a>
                        <br><br><br><br><br><br>
    <div class="row">
      <div class="col-md-5" style="padding-left: 5%;">
        <div class="panel panel-primary pannelBackground">
          <div class="panel-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <input type="hidden" name="source" value="<?php echo $_SERVER['HTTP_REFERER ']?>">
                <input type="hidden" name="fecha_alta" class=" form-control" value="<?php echo date("Y-m-d H:i:s"); ?>" />
                <div class="col-sm-9">
                    <input type="text" name="nombre" class="input form-control" placeholder="Nombre"/>
                    <vlvalidator name="InputNombreReq" type="required" control="nombre" errmsg="Se requiere su nombre.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <input type="text" name="apellido" class="input form-control" placeholder="Apellido"/>
                    <vlvalidator name="InputApellidoReq" type="required" control="apellido" errmsg="Se requiere su apellido.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <input type="email" name="email" class="input form-control" placeholder="Email"/>
                    <vlvalidator name="InputEmailReq" type="required" control="email" errmsg="Se requiere su email.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <input type="integer" name="dni" class="input form-control" placeholder="D.N.I. (sin puntos o espacios)"/>
                </div>
              </div>
            <div class="form-group">
                <div class="col-sm-9">
                  <select name="Provincia" class=" form-control">
                    <option value="" disabled selected>Provincia</option>
                    <option value="BA">Buenos Aires</option>
                    <option value="CT">Catama Aurca</option>
                    <option value="CABA">Ciudad Autónoma de Buenos Aires</option>
                    <option value="CC">Chaco</option>
                    <option value="CH">Chubut</option>
                    <option value="CBA">Córdoba</option>
                    <option value="CR">Corrientes</option>
                    <option value="ER">Entre Ríos</option>
                    <option value="FO">Formosa</option>
                    <option value="JY">Jujuy</option>
                    <option value="LP">La Pampa</option>
                    <option value="LR">La Rioja</option>
                    <option value="MZ">Mendoza</option>
                    <option value="MN">Misiones</option>
                    <option value="NQ">Neuquén</option>
                    <option value="RN">Río Negro</option>
                    <option value="SA">Salta</option>
                    <option value="SJ">San Juan</option>
                    <option value="SL">San Luis</option>
                    <option value="SC">Santa Cruz</option>
                    <option value="SF">Santa Fe</option>
                    <option value="SE">Santiago del Estero</option>
                    <option value="TF">Tierra del Fuego</option>
                    <option value="TM">Tucumán</option>
                </select>
                </div>
              </div>
              <div class="form-group">

                <div class="col-sm-9">
                  <input type="text" name="cp" class="input form-control" placeholder="Codigo Postal"/>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                    <select name="tipo_tel" class=" form-control">
                        <option value="" disabled selected>Tipo de Telefono</option>
                        <option value="fijo">Fijo</option>
                        <option value="cell">Cellular</option>
                    </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <input type="tel" name="tel" class="input form-control" placeholder="Telefono"/>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label><input type="checkbox" class="" name="rec_info" value="quiero_infor" checked/> QUIERO RECIBIR INFORMACION </label>
                  </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="" name="ser_voluntario" value="quiero_voluntario" checked/> QUIERO SER VOLUNTARIO</label>
                  </div>
                <div class="checkbox">
                    <label><input type="checkbox" class="" name="ser_fiscal" value="quiero_fiscal" checked/> QUIERO SER FISCAL</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-success col-lg-1 col-md-1 col-sm-1 input-control" type="button" role="button" href="http://donar.ucr.org.ar" style="width: 40%;height:20%; font-size: 150%" >DONAR</a>
                </div>
                <br><br><br>
                <div class="col-sm-offset-2 col-sm-10">
                 <button class="btn btn-danger col-lg-1 col-md-1 col-sm-1" type="submit" style="width: 40%;height:20%; font-size: 150%">UNIRME!</button>
                 </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-7">
    
      </div>
    </div>
    <br><br><br><br><br><br><br>
  </div>
</div>
</div>