<% provide(:perfil, "active") %>
<% provide(:title, "Perfil") %>
<div class="container"> 
  <div class="row">
    <div class="col-md-8">
      <h3 class="heading">About us</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur?Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore m consequatur?<a href="<%= propuestas_url %>">Mira nuestras propuestas</a></p>
      <hr>
          <div class="row">
            <div class="col-md-12">
              <h3>Our services</h3>    
            </div>
            <div class="services">
              <div class="col-md-4">
                <h4>House keeping</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim </p>
              </div>
              <div class="col-md-4">
                <h4>Acounting</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim</p>
              </div>
              <div class="col-md-4">
                <h4>Painting</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim</p>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
      <img alt="About" src="http://upload.wikimedia.org/wikipedia/commons/a/ac/OneWorldTradeCenter.jpg" class="about-image">
    </div>
  </div>

</div>
