<h1>Pages#propuestas</h1>

<!-- Project Section -->
<section id="project" class="head">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="headerline">Nuestras Propuestas</h2>
                <h4>Lorem ipsum dolor sit amet consecte tur adipiscingtitor.</h4>
            </div>
        </div>
    </div>
</section>
<div class="project wow fadeIn">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 project-item no-pad">
                <a data-target="#projectModal1" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            Educacion Para Todos
                        </div>
                    </div>
                    <img src="https://agenda.weforum.org/espanol/files/2015/02/reu-ebook-reader-nook-640x400.jpg" class="img-responsive center-block" alt="">
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 project-item no-pad">
                <a data-target="#projectModal2" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            Apoyo Infantil
                        </div>
                    </div>
                    <img src="http://lanoticia.hn/wp-content/uploads/2014/01/messi-2013-640x400.jpg" class="img-responsive center-block" alt="">
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 project-item no-pad">
                <a data-target="#projectModal3" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            Salud Publica
                        </div>
                    </div>
                    <img src="http://cdn.forbes.com.mx/2014/03/web-gates-millonarios-640x400.jpg" class="img-responsive center-block" alt="">
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 project-item no-pad">
                <a data-target="#projectModal4" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            Acceso A Agua Potable
                        </div>
                    </div>
                    <img src="http://comouno.tv/wp-content/uploads/2015/04/Marco-en.wikipedia.org_-640x400-640x400.jpg" class="img-responsive center-block" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 project-item no-pad">
                <a data-target="#projectModal5" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            Apoyo Educativo
                        </div>
                    </div>
                    <img src="http://lamaletaextraviada.com/wp-content/uploads/2012/08/TheoGosselin08-640x400.jpg" class="img-responsive center-block" alt="">
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 project-item no-pad">
                <a data-target="#projectModal6" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            Alimentacion Saludable
                        </div>
                    </div>
                    <img src="http://cdn.forbes.com.mx/2015/06/Shell_F-640x400.jpg" class="img-responsive center-block" alt="">
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 project-item no-pad">
                <a data-target="#projectModal7" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            Programa Deportivo
                        </div>
                    </div>
                    <img src="http://crock.com.ar/wp-content/uploads/2015/05/Lenny-Kravitz-640x400.jpg" class="img-responsive center-block" alt="">
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 project-item no-pad">
                <a data-target="#projectModal8" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            Acceso A Agua Potable
                        </div>
                    </div>
                    <img src="http://upload.wikimedia.org/wikipedia/commons/d/db/Capybara_Hattiesburg_Zoo_(70909b-50)_640x400.jpg" class="img-responsive center-block" alt="">
                </a>
            </div>
        </div>
    </div>
</div>



<!-- project Modals -->
<div class="work">
    <div class="project-modal modal fade" id="projectModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa-times"></i>
            </div>
            <div class="container">
                <h2>Educacion Para Todos</h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="img/project/1.jpg" class="img-responsive img-centered" alt="">
                        <img src="img/10.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>
                            Fecha: <strong>Octubre 2014</strong><br>
                            Donacion: <strong>$78,354 / $1,26,500</strong>
                        </p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-modal modal fade" id="projectModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa-times"></i>
            </div>
            <div class="container">
                <h2>Apoyo Infantil</h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="img/project/2.jpg" class="img-responsive img-centered" alt="">
                        <img src="img/1.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>
                            Fecha: <strong>Octubre 2014</strong><br>
                            Donacion: <strong>$78,354 / $1,26,500</strong>
                        </p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-modal modal fade" id="projectModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa-times"></i>
            </div>
            <div class="container">
                <h2>Salud Publica</h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="img/project/3.jpg" class="img-responsive img-centered" alt="">
                        <img src="img/6.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>
                            Fecha: <strong>Octubre 2014</strong><br>
                            Donacion: <strong>$78,354 / $1,26,500</strong>
                        </p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-modal modal fade" id="projectModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa-times"></i>
            </div>
            <div class="container">
                <h2>Acceso A Agua Potable</h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="img/project/4.jpg" class="img-responsive img-centered" alt="">
                        <img src="img/9.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>
                            Fecha: <strong>Octubre 2014</strong><br>
                            Donacion: <strong>$78,354 / $1,26,500</strong>
                        </p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-modal modal fade" id="projectModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa-times"></i>
            </div>
            <div class="container">
                <h2>Apoyo Educativos</h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="img/project/5.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>
                            Fecha: <strong>Octubre 2014</strong><br>
                            Donacion: <strong>$78,354 / $1,26,500</strong>
                        </p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-modal modal fade" id="projectModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa-times"></i>
            </div>
            <div class="container">
                <h2>Alimentacion Saludable</h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="img/project/6.jpg" class="img-responsive img-centered" alt="">
                        <img src="img/11.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>
                            Fecha: <strong>Octubre 2014</strong><br>
                            Donacion: <strong>$78,354 / $1,26,500</strong>
                        </p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-modal modal fade" id="projectModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa-times"></i>
            </div>
            <div class="container">
                <h2>Programa Deportivo</h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="img/project/7.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>
                            Fecha: <strong>Octubre 2014</strong><br>
                            Donacion: <strong>$78,354 / $1,26,500</strong>
                        </p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project-modal modal fade" id="projectModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa-times"></i>
            </div>
            <div class="container">
                <h2>Acceso A Agua Potabla</h2>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img src="img/project/8.jpg" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.</p>
                        <p>
                            Fecha: <strong>Octubre 2014</strong><br>
                            Donacion: <strong>$78,354 / $1,26,500</strong>
                        </p>
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
