<body>


<div class="container header-divs">
	<div class="row">
		<div class="col-lg-6" >
			<div>
				<img src="autopistas-sin-peaje.png" alt="">
			</div>
			<div>
				
				<h1>
					AUTOPISTAS
					<br>
					SIN PEAJES
				</h1>
			</div>
		</div>
		<div class="col-lg-6">
			<div>
				<h2 class="red">
					Para que
					Argentina
					funcione.
				</h2>
			</div>
			<div>
				<img src="../logo-sanz.png" alt="">
			</div>
		</div>
	</div>

</div>




<div class="efecto-1"></div>

<div class="texto-imagen mi-texto">
	<div class="texto ">
		DIAGNÓSTICO
	</div>
</div>


<div class="efecto-2"></div>

<div class="container libro">
	<div class="row">
		<div class="col-lg-6">
			<p align="justify">Ya desde los años noventa existen en la Argentina planes concretos, realistas y viables de una red nacional de autopistas sin peaje, como el Plan Laura. Entre otros beneficios, las autopistas tienen la cualidad de representar un enorme ahorro de vidas humanas. Los accidentes viales generan unas 8000 muertes por año, mucho más que las generadas por la inseguridad (hay unos 3000 homicidios dolosos, pero muchos de ellos entre personas que se conocen, no relacionados estrictamente con la inseguridad).</p>
		  <p align="justify">Salvo para casos específicos como puede ser desde una mina de carbón a un puerto (alto volumen por valor -por lo tanto alta incidencia del transporte- y traslado punto a punto) </p>
		</div>
		<div class="col-lg-6">
			<p align="justify">
				Para transporte de pasajeros y en un país de baja densidad de población, también tiene mucho más sentido la combinación de autopistas y aviones que la inversión en trenes, cuyo costo es irrecuperable porque son imposibles combinaciones eficientes entre costo, frecuencia y uso de la capacidad. </p>
			<p align="justify">Con alta frecuencia, los trenes interurbanos entre ciudades como las de Argentina tendrían un muy poco uso de la capacidad instalada y por lo tanto un bajo costo. Con frecuencias menores, el servicio se vuelve menos atractivo.</p>
					  </div>
		</div>
	</div>
</div>

<div class="efecto-1"></div>

<div class="texto-imagen mi-texto2">
	<div class="texto ">
		PROPUESTA
	</div>
</div>

<div class="efecto-2"></div>



<div class="container libro">
	<div class="row">
		<div class="col-lg-6">
			<p align="justify" class="texto">Así como la Generación del 80 conectó en pocos años a todas las capitales provinciales a una red ferroviaria, nuestra generación tiene que conectarlas todas a una Red Nacional de Autopistas. Un camino obvio es la adopción y adaptación del Plan de Autopistas Inteligentes (&quot;Plan Laura&quot;) a la realiad argentina del siglo XXI. Algunas de las características son:</p>
			<p align="justify" class="texto"><b>1)</b> Sin cobro de peaje. El peaje no es una buena manera de financiar autopistas, ya que desalienta tráfico incluso cuando para la sociedad el costo de tráfico adicional es nulo.</p>
            			</div>
                        
				<div class="col-lg-6">
			      <p><b>2)</b> Intervención de organismos financieros internacionales como garantes de los contratos: cada 100 kilómetros completados, el Estado paga a sus proveedores y, si no lo hace, automáticamente organismos como el Banco Mundial pagan al proveedor y </p>
			      <p><b>3)</b> Incremento del impuesto al combustible a medida que se completan las obras.<br>
			      </p>
		</div>
	</div>
</div>


</body>